.page-confrim-email {
    h1 {
        font-weight: 500;
        font-size: 3rem;
        color: #3b4ba2;
        position: relative;
        &:after {
            position: absolute;
            content: '';
            left: 42%;
            right: 42%;
            bottom: 0px;
            border: 2px solid #33b5e5;
        }
    }
    h4 {
        font-weight: 400;
        color: #888;
        line-height: 3rem;
        b {
            color: #000;
            font-weight: bold;
        }
    }
    button {
        border-radius: 4px;
        font-weight: 500;
        letter-spacing: 3px;
        font-size: 1.5rem !important;
    }
    a {
        position: relative;
        &::after {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            border: 1px solid;
        }
        &.resend-v-email {
            font-size: 1.5rem;
        }
    }
}