@charset "UTF-8";
// @import 'vendor/normalize';
main {
    position: relative;
    &:after {
        content: '';
        position: fixed;
        background-image: url('/assets/img/finance_man.jpg');
        height: 25rem;
        width: 15rem;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        bottom: 8rem;
        right: 8rem;
    }
}

h1 {
    font-weight: 500;
    font-size: 3rem;
    color: #3b4ba2;
    position: relative;
    &:after {
        position: absolute;
        content: '';
        left: 42%;
        right: 42%;
        bottom: 0px;
        border: 2px solid #33b5e5;
    }
}

h4 {
    font-weight: 400;
    color: #888;
}