header {
    max-height: 100px;
    box-shadow: 0 15px 20px 0px #ddd;
    .btn-outline {
        letter-spacing: 5px;
        font-weight: bold;
        border: 2px solid #3f6ebe;
        color: #3f6ebe;
        background-color: #fff;
        border-radius: 4px;
        &:hover {
            color: #fff;
            background-color: #3f6ebe;
        }
    }
}